#!/bin/bash
#
# logstash <summary>
#
# chkconfig:   2345 80 20
# description: Starts and stops a single logstash instance on this system
#

### BEGIN INIT INFO
# Provides: Logstash
# Required-Start: $network $named
# Required-Stop: $network $named
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: This service manages the logstash daemon
# Description: Logstash is a very flexible data manipulation framework, mainly used to ingest data into Elasticsearch
### END INIT INFO

#
# init.d / servicectl compatibility (openSUSE)
#
if [ -f /etc/rc.status ]; then
    . /etc/rc.status
    rc_reset
fi

#
# Source function library.
#
if [ -f /etc/rc.d/init.d/functions ]; then
    . /etc/rc.d/init.d/functions
fi

# Sets the default values for logstash variables used in this script
LS_USER="{{ls_user}}"
LS_GROUP="{{ls_group}}"
LS_HOME="{{ls_home}}"
{% if ls_max_open_files is defined %}
MAX_OPEN_FILES={{ls_max_open_files}}
{% endif %}
# Maximum number of VMA (Virtual Memory Areas) a process can own
{% if ls_max_map_count is defined %}
MAX_MAP_COUNT={{ls_max_map_count}}
{% endif %}

LOG_DIR="{{log_dir}}"
DATA_DIR={{ data_dirs | array_to_str }}
CONF_DIR="{{conf_dir}}"
LS_PATH_CONF="{{ conf_dir }}"

PID_DIR="{{pid_dir}}"

# Source the default env file
LS_ENV_FILE="{{instance_default_file}}"
if [ -f "$LS_ENV_FILE" ]; then
    . "$LS_ENV_FILE"
fi

if [ "$LS_USER" != "logstash" ] || [ "$LS_GROUP" != "logstash" ]; then
    echo "WARNING: LS_USER and LS_GROUP are deprecated and will be removed in the next major version of Logstash, got: [$LS_USER:$LS_GROUP]"
fi

# CONF_FILE setting was removed
if [ ! -z "$CONF_FILE" ]; then
    echo "CONF_FILE setting is no longer supported. logstash.yml must be placed in the config directory and cannot be renamed."
    exit 1
fi

exec="$LS_HOME/bin/logstash"
prog="{{ls_instance_name}}_{{default_file | basename}}"
pidfile="$PID_DIR/${prog}.pid"

export LS_JAVA_OPTS
export JAVA_HOME
export LS_INCLUDE
export LS_JVM_OPTIONS
export LS_STARTUP_SLEEP_TIME
export LS_PATH_CONF

# export unsupported variables so bin/logstash can reject them and inform the user these are unsupported
if test -n "$LS_MIN_MEM"; then export LS_MIN_MEM; fi
if test -n "$LS_MAX_MEM"; then export LS_MAX_MEM; fi
if test -n "$LS_HEAP_SIZE"; then export LS_HEAP_SIZE; fi
if test -n "$LS_HEAP_NEWSIZE"; then export LS_HEAP_NEWSIZE; fi
if test -n "$LS_DIRECT_SIZE"; then export LS_DIRECT_SIZE; fi
if test -n "$LS_USE_IPV4"; then export LS_USE_IPV4; fi
if test -n "$LS_GC_OPTS"; then export LS_GC_OPTS; fi
if test -n "$LS_GC_LOG_FILE"; then export LS_GC_LOG_FILE; fi

lockfile=/var/lock/subsys/$prog

# backwards compatibility for old config sysconfig files, pre 0.90.1
if [ -n $USER ] && [ -z $LS_USER ] ; then
   LS_USER=$USER
fi

if [ ! -x "$exec" ]; then
    echo "The logstash startup script does not exists or it is not executable, tried: $exec"
    exit 1
fi

checkJava() {
    if [ -x "$JAVA_HOME/bin/java" ]; then
        JAVA="$JAVA_HOME/bin/java"
    else
        JAVA=`which java`
    fi

    if [ ! -x "$JAVA" ]; then
        echo "Could not find any executable java binary. Please install java in your PATH or set JAVA_HOME"
        exit 1
    fi
}

start() {
    checkJava
    [ -x $exec ] || exit 5

    if [ -n "$MAX_OPEN_FILES" ]; then
        ulimit -n $MAX_OPEN_FILES
    fi
    if [ -n "$MAX_LOCKED_MEMORY" ]; then
        ulimit -l $MAX_LOCKED_MEMORY
    fi
    if [ -n "$MAX_THREADS" ]; then
        ulimit -u $MAX_THREADS
    fi
    if [ -n "$MAX_MAP_COUNT" -a -f /proc/sys/vm/max_map_count ]; then
        sysctl -q -w vm.max_map_count=$MAX_MAP_COUNT
    fi

    # Ensure that the PID_DIR exists (it is cleaned at OS startup time)
    if [ -n "$PID_DIR" ] && [ ! -e "$PID_DIR" ]; then
        mkdir -p "$PID_DIR" && chown "$LS_USER":"$LS_GROUP" "$PID_DIR"
    fi
    if [ -n "$pidfile" ] && [ ! -e "$pidfile" ]; then
        touch "$pidfile" && chown "$LS_USER":"$LS_GROUP" "$pidfile"
    fi

    cd $LS_HOME
    echo -n $"Starting $prog: "
    # if not running, start it up here, usually something like "daemon $exec"
{% if (ls_version is version_compare('6.0.0', '<')) %}
    daemon --user $LS_USER --pidfile $pidfile $exec -p $pidfile -d -Edefault.path.logs=$LOG_DIR -Edefault.path.data=$DATA_DIR -Edefault.path.conf=$CONF_DIR
{% else %}
    daemon --user $LS_USER --pidfile $pidfile $exec -p $pidfile -d
{% endif %}
    retval=$?
    echo
    [ $retval -eq 0 ] && touch $lockfile
    return $retval
}

stop() {
    echo -n $"Stopping $prog: "
    # stop it here, often "killproc $prog"
    killproc -p $pidfile -d 86400 $prog
    retval=$?
    echo
    [ $retval -eq 0 ] && rm -f $lockfile
    return $retval
}

restart() {
    stop
    start
}

reload() {
    restart
}

force_reload() {
    restart
}

rh_status() {
    # run checks to determine if the service is running or use generic status
    status -p $pidfile $prog
}

rh_status_q() {
    rh_status >/dev/null 2>&1
}


case "$1" in
    start)
        rh_status_q && exit 0
        $1
        ;;
    stop)
        rh_status_q || exit 0
        $1
        ;;
    restart)
        $1
        ;;
    reload)
        rh_status_q || exit 7
        $1
        ;;
    force-reload)
        force_reload
        ;;
    status)
        rh_status
        ;;
    condrestart|try-restart)
        rh_status_q || exit 0
        restart
        ;;
    *)
        echo $"Usage: $0 {start|stop|status|restart|condrestart|try-restart|reload|force-reload}"
        exit 2
esac
exit $?
